NET "gleds[34]" IOSTANDARD = LVCMOS25;
NET "gleds[33]" IOSTANDARD = LVCMOS25;
NET "gleds[32]" IOSTANDARD = LVCMOS25;
NET "gleds[31]" IOSTANDARD = LVCMOS25;
NET "gleds[30]" IOSTANDARD = LVCMOS25;
NET "gleds[29]" IOSTANDARD = LVCMOS25;
NET "gleds[28]" IOSTANDARD = LVCMOS25;
NET "gleds[27]" IOSTANDARD = LVCMOS25;
NET "gleds[26]" IOSTANDARD = LVCMOS25;
NET "gleds[25]" IOSTANDARD = LVCMOS25;
NET "gleds[24]" IOSTANDARD = LVCMOS25;
NET "gleds[23]" IOSTANDARD = LVCMOS25;
NET "gleds[22]" IOSTANDARD = LVCMOS25;
NET "gleds[21]" IOSTANDARD = LVCMOS25;
NET "gleds[20]" IOSTANDARD = LVCMOS25;
NET "gleds[19]" IOSTANDARD = LVCMOS25;
NET "gleds[18]" IOSTANDARD = LVCMOS25;
NET "gleds[17]" IOSTANDARD = LVCMOS25;
NET "gleds[16]" IOSTANDARD = LVCMOS25;
NET "gleds[15]" IOSTANDARD = LVCMOS25;
NET "gleds[14]" IOSTANDARD = LVCMOS25;
NET "gleds[13]" IOSTANDARD = LVCMOS25;
NET "gleds[12]" IOSTANDARD = LVCMOS25;
NET "gleds[11]" IOSTANDARD = LVCMOS25;
NET "gleds[10]" IOSTANDARD = LVCMOS25;
NET "gleds[9]" IOSTANDARD = LVCMOS25;
NET "gleds[8]" IOSTANDARD = LVCMOS25;
NET "gleds[7]" IOSTANDARD = LVCMOS25;
NET "gleds[6]" IOSTANDARD = LVCMOS25;
NET "gleds[5]" IOSTANDARD = LVCMOS25;
NET "gleds[4]" IOSTANDARD = LVCMOS25;
NET "gleds[3]" IOSTANDARD = LVCMOS25;
NET "gleds[2]" IOSTANDARD = LVCMOS25;
NET "gleds[1]" IOSTANDARD = LVCMOS25;
NET "gleds[0]" IOSTANDARD = LVCMOS25;
NET "rleds[34]" IOSTANDARD = LVCMOS25;
NET "rleds[33]" IOSTANDARD = LVCMOS25;
NET "rleds[32]" IOSTANDARD = LVCMOS25;
NET "rleds[31]" IOSTANDARD = LVCMOS25;
NET "rleds[30]" IOSTANDARD = LVCMOS25;
NET "rleds[29]" IOSTANDARD = LVCMOS25;
NET "rleds[28]" IOSTANDARD = LVCMOS25;
NET "rleds[27]" IOSTANDARD = LVCMOS25;
NET "rleds[26]" IOSTANDARD = LVCMOS25;
NET "rleds[25]" IOSTANDARD = LVCMOS25;
NET "rleds[24]" IOSTANDARD = LVCMOS25;
NET "rleds[23]" IOSTANDARD = LVCMOS25;
NET "rleds[22]" IOSTANDARD = LVCMOS25;
NET "rleds[21]" IOSTANDARD = LVCMOS25;
NET "rleds[20]" IOSTANDARD = LVCMOS25;
NET "rleds[19]" IOSTANDARD = LVCMOS25;
NET "rleds[18]" IOSTANDARD = LVCMOS25;
NET "rleds[17]" IOSTANDARD = LVCMOS25;
NET "rleds[16]" IOSTANDARD = LVCMOS25;
NET "rleds[15]" IOSTANDARD = LVCMOS25;
NET "rleds[14]" IOSTANDARD = LVCMOS25;
NET "rleds[13]" IOSTANDARD = LVCMOS25;
NET "rleds[12]" IOSTANDARD = LVCMOS25;
NET "rleds[11]" IOSTANDARD = LVCMOS25;
NET "rleds[10]" IOSTANDARD = LVCMOS25;
NET "rleds[9]" IOSTANDARD = LVCMOS25;
NET "rleds[8]" IOSTANDARD = LVCMOS25;
NET "rleds[7]" IOSTANDARD = LVCMOS25;
NET "rleds[6]" IOSTANDARD = LVCMOS25;
NET "rleds[5]" IOSTANDARD = LVCMOS25;
NET "rleds[4]" IOSTANDARD = LVCMOS25;
NET "rleds[3]" IOSTANDARD = LVCMOS25;
NET "rleds[2]" IOSTANDARD = LVCMOS25;
NET "rleds[1]" IOSTANDARD = LVCMOS25;
NET "rleds[0]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[17]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[16]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[15]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[14]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[13]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[12]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[11]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[10]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[9]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[8]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[7]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[6]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[5]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[4]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[3]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[2]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[1]" IOSTANDARD = LVCMOS25;
NET "adc_ncs[0]" IOSTANDARD = LVCMOS25;


NET "rleds[20]" LOC = P3;
NET "rleds[22]" LOC = P4;
NET "gleds[21]" LOC = P5;
NET "gleds[23]" LOC = P6;
NET "rleds[18]" LOC = P7;
NET "gleds[19]" LOC = P8;
NET "rleds[16]" LOC = P10;
NET "gleds[17]" LOC = P11;
NET "gleds[15]" LOC = P13;
NET "rleds[14]" LOC = P12;
NET "rleds[12]" LOC = P15;
NET "gleds[13]" LOC = P16;
NET "gleds[11]" LOC = P20;
NET "rleds[10]" LOC = P18;
NET "gleds[9]" LOC = P21;
NET "rleds[8]" LOC = P19;
NET "gleds[7]" LOC = P25;
NET "rleds[6]" LOC = P24;
NET "gleds[5]" LOC = P29;
NET "rleds[4]" LOC = P27;
NET "gleds[3]" LOC = P30;
NET "rleds[2]" LOC = P28;
NET "gleds[1]" LOC = P32;
NET "rleds[0]" LOC = P31;
NET "gleds[25]" LOC = P72;
NET "gleds[27]" LOC = P71;
NET "rleds[24]" LOC = P70;
NET "rleds[26]" LOC = P69;
NET "rleds[28]" LOC = P67;
NET "gleds[29]" LOC = P68;
NET "rleds[30]" LOC = P63;
NET "gleds[31]" LOC = P64;
NET "rleds[32]" LOC = P58;
NET "gleds[33]" LOC = P60;
NET "rleds[34]" LOC = P57;
NET "gleds[0]" LOC = P59;
NET "rleds[1]" LOC = P54;
NET "gleds[2]" LOC = P55;
NET "rleds[3]" LOC = P50;
NET "gleds[4]" LOC = P51;
NET "rleds[5]" LOC = P47;
NET "gleds[6]" LOC = P49;
NET "rleds[7]" LOC = P46;
NET "gleds[8]" LOC = P48;
NET "rleds[9]" LOC = P42;
NET "gleds[10]" LOC = P41;
NET "rleds[11]" LOC = P62;
NET "gleds[12]" LOC = P79;
NET "rleds[13]" LOC = P78;
NET "gleds[14]" LOC = P76;
NET "rleds[15]" LOC = P77;
NET "gleds[16]" LOC = P75;
NET "rleds[17]" LOC = P84;
NET "gleds[18]" LOC = P85;
NET "rleds[19]" LOC = P83;
NET "gleds[20]" LOC = P88;
NET "rleds[21]" LOC = P87;
NET "gleds[22]" LOC = P92;
NET "rleds[23]" LOC = P90;
NET "gleds[24]" LOC = P93;
NET "rleds[25]" LOC = P91;
NET "gleds[26]" LOC = P98;
NET "rleds[27]" LOC = P96;
NET "gleds[28]" LOC = P101;
NET "rleds[29]" LOC = P99;
NET "gleds[30]" LOC = P104;
NET "rleds[31]" LOC = P102;
NET "gleds[32]" LOC = P105;
NET "rleds[33]" LOC = P103;
NET "gleds[34]" LOC = P110;
NET "adc_ncs[0]" LOC = P142;
NET "adc_ncs[1]" LOC = P111;
NET "adc_ncs[2]" LOC = P113;
NET "adc_ncs[3]" LOC = P112;
NET "adc_ncs[4]" LOC = P117;
NET "adc_ncs[5]" LOC = P115;
NET "adc_ncs[6]" LOC = P116;
NET "adc_ncs[7]" LOC = P114;
NET "adc_ncs[8]" LOC = P121;
NET "adc_ncs[9]" LOC = P120;
NET "adc_ncs[10]" LOC = P125;
NET "adc_ncs[11]" LOC = P131;
NET "adc_ncs[12]" LOC = P129;
NET "adc_ncs[13]" LOC = P132;
NET "adc_ncs[14]" LOC = P130;
NET "adc_ncs[15]" LOC = P135;
NET "adc_ncs[16]" LOC = P134;
NET "adc_ncs[17]" LOC = P139;
NET "en" LOC = P124;
NET "nrst" LOC = P127;
NET "spi_din" LOC = P140;
NET "spi_ncs" LOC = P138;
NET "spi_sck" LOC = P126;

NET "en" IOSTANDARD = LVCMOS25;
NET "nrst" IOSTANDARD = LVCMOS25;
NET "spi_din" IOSTANDARD = LVCMOS25;
NET "spi_ncs" IOSTANDARD = LVCMOS25;
NET "spi_sck" IOSTANDARD = LVCMOS25;